.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(34 197 94);
}

.login-box{
    background-color: rgb(20 83 45);
    display:flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.login-inputs{
    padding: 10px;
}

.login-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-buttons button{
    padding: 5px;
    font-size: medium;
}

.login-inputs *{
    margin: 5px;
}
.login-inputs span{
    color: white;
}